
/* PARA CELULARES */

@media screen and (min-width: 300px) and (max-width: 470px) {
    h1,h2,h3,h4,h5,h6 {
        font-size: 1.5em;
    }
    #bloco1 {
        position: relative;
        height: calc(100vh - 60px);
        border-radius: 0 0 100% 0;
    }
    #ulContainerPlayerAnimes > li > h2 {
        font-size: 1em;
    }
    #ulContainerPlayerAnimes{
        position: absolute;
        margin-left: 0;
        top: 70%;
    }
    #ulContainerPlayerAnimes > li {
        width: 280px;
        height: 85%;
        margin: 30px;
        overflow-y: scroll;
        transform: translateX(45px) translateY(5%);
    }
    #ulContainerPlayerAnimes > li > h2 {
        margin-top: 20px;
    }
    #ulContainerPlayerAnimes > li > p {
        font-size: 0.6em;
    }
    /* BLOCO 02 */
    .img1{
        width: 30%;
        height: 50%;
        margin: 10px 10px 10px 22%;
    }
    .img2{
        width: 25%;
        height: 30%;
        right: 10%;
        bottom: 40%;
    }
    .text1 {
        font-size: 2.5em;
        text-align: center;
        margin: 0 77% 0 0;
        top: 33%;
        right: 0;
    }
    p.text2 {
        font-size: 2.5em;
        text-align: center;
        margin: 25% 46% 0 0;
        right: 0;
    }
    p.text3 {
        font-size: 3em;
        margin: 10% 48% 0 0;
        white-space: nowrap;
        transform: translateX(28%);
    }
    .image-poster {
        width: 20%;
        height: 15%;
        margin: 10px;
        top: 35%;
        z-index: 10;
    }
    .image-icon {
        width: 15%;
        height: 15%;
        margin: 20px;
        top: 10%;
        left: 0;
    }
    ul.textBox {
        position: absolute;
        width: 80%;
        height: 400px;
        margin: 0;
        right: 12px;
        bottom: 10px;
        font-size: 16px;
    }
    .textBox > li > p{
        font-size: 12.5px;
    }
    .textBox > li > .tituloTextBox {
        font-size: 0.6em;
    }
}

@media screen and (min-width: 471px) and (max-width: 700px) {
    h1,h2,h3,h4,h5,h6 {
        font-size: 1.5em;
    }
    #bloco1 {
        position: relative;
        border-radius: 0 0 100% 0;
    }
    #ulContainerPlayerAnimes > li > h2 {
        font-size: 1em;
    }
    #ulContainerPlayerAnimes{
        position: absolute;
        margin-left: 0;
        top: 70%;
    }
    #ulContainerPlayerAnimes > li {
        width: 280px;
        height: 85%;
        margin: 30px;
        overflow-y: scroll;
        transform: translateX(45px) translateY(5%);
    }
    #ulContainerPlayerAnimes > li > h2 {
        margin-top: 20px;
    }
    #ulContainerPlayerAnimes > li > p {
        font-size: 0.6em;
    }
}

/* PARA NOTEBOOK */

@media screen and (min-width: 1360px) and (max-width: 1800px){

    h1,h2,h3,h4,h5,h6 {
        font-size: 2em;
    }
    #bloco1 {
        position: relative;
    }
    #ulContainerPlayerAnimes > li > h2 {
        font-size: 1em;
    }
    #ulContainerPlayerAnimes{
        position: absolute;
        margin-left: 30%;
        top: 65%;
        scale: 0.9;
    }
    #ulContainerPlayerAnimes > li {
        width: 280px;
        height: 95%;
        margin: 15px;
        overflow-y: scroll;
    }
    #ulContainerPlayerAnimes > li > h2 {
        margin-top: 20px;
    }
    #ulContainerPlayerAnimes > li > p {
        font-size: 0.6em;
    }
}

@media screen and (min-width: 1801px) and (max-width: 2000px){

    h1,h2,h3,h4,h5,h6 {
        font-size: 2em;
    }
    #bloco1 {
        position: relative;
    }
    #ulContainerPlayerAnimes > li > h2 {
        font-size: 1em;
    }
    #ulContainerPlayerAnimes{
        position: absolute;
        margin-left: 30%;
        top: 70%;
    }
    #ulContainerPlayerAnimes > li {
        width: 300px;
        height: 90%;
        margin: 30px;
        overflow-y: scroll;
    }
    #ulContainerPlayerAnimes > li > h2 {
        margin-top: 20px;
    }
    #ulContainerPlayerAnimes > li > p {
        font-size: 0.6em;
    }
}