
/* BLOCO 02 */
/* #FF2291, #D73E8C, #D22C7A */
#bloco2{
    position: relative;
    margin-top: 5px;
}
.container {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url("https://images7.alphacoders.com/129/1296046.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.container::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    to: 0;
    left: 0;
    background: pink;
    border-radius: 0 300% 0 0 ;
    border: 2px outset black;
    backdrop-filter: blur(5px);
}
.img1{
    position: absolute;
    width: 15%;
    height: 90%;
    margin: 10px 10px 10px 28%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 30px pink);
    z-index: 10;
}
.img2{
    position: absolute;
    width: 15%;
    height: 60%;
    right: 22%;
    bottom: 40%;
    filter: drop-shadow(0 0 30px pink);
    z-index: 5;
}

.textBox {
    position: absolute;
    width: 40%;
    height: 45%;
    margin: 20px;
    right: 7.5%;
    bottom: 30px;
    z-index: 8;
}
.textBox > li {
    text-align: center;
    background: whitesmoke;
    border-radius: 30px 10px;
    box-shadow: 1px 1px 10px black;
    z-index: 9;
}
.tituloTextBox {
    height: 30%;
    padding: 25px;
    font-size: 2em;
    text-align: center;
    color: whitesmoke;
    font-family: 'Naruto';
    background: #D73E8C;
}
.textoTextBox {
    text-align: left;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    z-index: 9;
}

.text1 {
    position: absolute;
    color: #FF2291;
    font-size: 10em;
    text-align: center;
    margin: 20% 82% 0 0;
    right: 0;
    font-family: 'Milkita','Times New Roman', Times, serif;
    text-shadow:
                -1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
    z-index: 11;
}
.text2 {
    position: absolute;
    color: whitesmoke;
    font-size: 7em;
    text-align: center;
    margin: 10% 55% 0 0;
    right: 0;
    font-family: 'Gang-of-three','Times New Roman', Times, serif;
    text-shadow:
                -1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
    z-index: 10;
}

.text3 {
    position: absolute;
    color: #D22C7A;
    font-size: 10em;
    text-align: center;
    margin: 3% 48% 0 0;
    right: 0;
    font-family: 'Gang-of-three','Times New Roman', Times, serif;
    text-shadow:
                -1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
    z-index: 9;
}

.image-poster {
    position: absolute;
    width: 20%;
    height: 50%;
    margin: 35px 30px;
    bottom: 0;
    border-radius: 15px;
    box-shadow:
                -1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
    z-index: 10;
}
.image-icon {
    position: absolute;
    width: 15%;
    height: 35%;
    margin: 30px;
    top: 2%;
    left: 0;
    border-radius:  0 0 100% 0;
    box-shadow:
                -10px -10px 0 #D73E8C,  
                10px -10px 0 #D73E8C,
                -10px 10px 0 #D73E8C,
                10px 10px 0 #D73E8C;
    z-index: 4;
}