
/* BLOCO 02 */
/* #FF2291, #D73E8C, #D22C7A */
#bloco2{
    position: relative;
    margin-top: 5px;
}
.container {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url("https://images7.alphacoders.com/129/1296046.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.container::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    to: 0;
    left: 0;
    background: linear-gradient(60deg, #D22C7A, pink);
    border-radius: 0 300%  0 150% ;
    border: 2px outset black;
    backdrop-filter: blur(5px);
}
.img1{
    position: absolute;
    width: 18%;
    height: 90%;
    margin: 10px 10px 10px 26.5%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 30px pink);
    z-index: 10;
}
.img2{
    position: absolute;
    width: 15%;
    height: 60%;
    right: 22%;
    bottom: 40%;
    filter: drop-shadow(0 0 30px pink);
    z-index: 5;
}

.textBox {
    position: absolute;
    width: 40%;
    height: 45%;
    margin: 20px;
    right: 7.5%;
    bottom: 30px;
    z-index: 12;
}
.textBox > li {
    text-align: center;
    background: whitesmoke;
    border-radius: 30px 10px;
    box-shadow: 1px 1px 10px black;
    z-index: 9;
}
.tituloTextBox {
    height: 30%;
    padding: 25px;
    font-size: 2em;
    text-align: center;
    color: whitesmoke;
    font-family: 'Naruto';
    background: #D73E8C;
}
.textoTextBox {
    text-align: left;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    z-index: 9;
}

.text1 {
    position: absolute;
    color: #FF2291;
    font-size: 10em;
    text-align: center;
    margin: 20% 82% 0 0;
    right: 0;
    font-family: 'Milkita','Times New Roman', Times, serif;
    text-shadow:
                -1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
    z-index: 11;
}
.text2 {
    position: absolute;
    color: whitesmoke;
    font-size: 7em;
    text-align: center;
    margin: 10% 55% 0 0;
    right: 0;
    font-family: 'Gang-of-three','Times New Roman', Times, serif;
    text-shadow:
                -1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
    z-index: 10;
}

.text3 {
    position: absolute;
    color: #D22C7A;
    font-size: 10em;
    text-align: center;
    margin: 3% 48% 0 0;
    right: 0;
    font-family: 'Gang-of-three','Times New Roman', Times, serif;
    text-shadow:
                -1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
    z-index: 9;
}

.image-poster {
    position: absolute;
    width: 20%;
    height: 50%;
    margin: 35px 30px;
    bottom: 0;
    border-radius: 15px;
    box-shadow:
                -1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
    z-index: 10;
}
.image-icon {
    position: absolute;
    width: 15%;
    height: 35%;
    margin: 30px;
    top: 2%;
    left: 0;
    border-radius:  0 0 100% 0;
    box-shadow:
                -10px -10px 0 #FF2291,  
                10px -10px 0 #FF2291,
                -10px 10px 0 #FF2291,
                10px 10px 0 #FF2291;
    z-index: 4;
}

/* BLOCO 03 */
#containerBlocoInfoAnime {
    position: relative;
    width: 100vw;
    height: 100vh;
}
#blocoInfoAnime {
    position: absolute;
    display: flex;
    width: 80%;
    height: 90%;
    padding: 20px 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    background: whitesmoke;
    border-radius: 5px;
}

#grade01 {
    position: absolute;
    width: 22%;
    height: 90%;
    margin: 0 5% 0 5%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    align-items: center;
}
#imgCapaGride01 {
    position: relative;
    width: 80%;
    height: 60%;
    border-radius: 14px;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/691/648/922/anime-anime-girls-picture-in-picture-youkoso-jitsuryoku-shijou-shugi-no-kyoushitsu-e-horikita-suzune-hd-wallpaper-preview.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#nomeImg{
    position: absolute;
    width: 100%;
    padding: 20% 0 10% 0;
    bottom: 0;
    font-size: 5em;
    color: whitesmoke;
    text-align: center;
    vertical-align: center;
    background: linear-gradient(to top, rgba(65,26,89, 0.9), rgba(107,43,146, 0.8), rgba(128,51,174, 0.7), rgba(107,43,146, 0) );
    border-radius: 0 0 14px 14px;
}
.grade01Texto{
    position: relative;
    width: 80%;
    padding: 5px 10px;
    background: #D9D9D9;
    border-radius: 14px;
    margin: 10px 0 0 0;
}
.grade01Texto > li {
    margin: 2.5px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    background-repeat: no-repeat;
    color: black;
}

#grade02{
    position: absolute;
    width: 68%;
    height: 55%;
    margin: 0 5% 0 5%;
    top: 11%;
    right: 0;
    float: right;
    transform: translateY(-11%);
    text-align: center;
    align-items: center;
}

#caixaPrincialTexto {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #D9D9D9;
    border-radius: 10px;
}
#blocoSinopse {
    position: absolute;
    width: 40%;
    height: 95%;
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: #CBC2C2;
    border-radius: 10px;
}
#blocoSinopse > h2 {
    width: 100%;
    margin: 15px;
    font-size: 3.2em;
    font-family: 'Gang-of-three', 'Times New Roman', Times, serif;
    color: whitesmoke;
    background: #583AC5;
}
#sinopse{
    margin-top: 20px;
}
#sinopse > h3 {
    margin: 15px;
    font-size: 2em;
    color: whitesmoke;
    background: #583AC5;
}
#sinopse > p {
    font-size: 1.8em;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}