
/* BLOCO 02 */
/* #FF2291, #D73E8C, #D22C7A */
#bloco2{
    position: relative;
    margin-top: 5px;
}
.container {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url("https://images7.alphacoders.com/129/1296046.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    to: 0;
    left: 0;
    background: #80008033;
    backdrop-filter: blur(5px);
}
.img1{
    position: absolute;
    width: 15%;
    height: 90%;
    margin: 10px 10px 10px 20%;
    background-image: url("../midias/image/Bocchi-the-rock/Hitori-image01.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 30px pink);
    z-index: 10;
}

.textBox {
    position: absolute;
    width: 40%;
    height: 45%;
    margin: 20px;
    right: 0;
    z-index: 8;
}
.textBox > li {
    text-align: center;
    background: whitesmoke;
    border-radius: 30px 10px;
    box-shadow: 1px 1px 10px black;
    z-index: 9;
}
.tituloTextBox {
    height: 30%;
    padding: 25px;
    font-size: 2em;
    text-align: center;
    color: whitesmoke;
    font-family: 'Naruto';
    background: #D73E8C;
}
.textoTextBox {
    text-align: left;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    z-index: 9;
}

.text2 {
    position: absolute;
    color: whitesmoke;
    font-size: 7em;
    text-align: center;
    margin: 8% 63% 0 0;
    right: 0;
    font-family: 'Gang-of-three','Times New Roman', Times, serif;
    z-index: 10;
}

.text3 {
    position: absolute;
    color: pink;
    font-size: 10em;
    text-align: center;
    margin: 10% 55% 0 0;
    right: 0;
    font-family: 'Gang-of-three','Times New Roman', Times, serif;
    z-index: 10;
}